@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any other global styles here, if you had them originally */
body {
  margin: 0;
  font-family: 'Lexend', sans-serif; /* Your custom font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}